body::-webkit-scrollbar {
  width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
body::-webkit-scrollbar-thumb {
  background: #ccc; 
  border-radius: 10px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #888; 
}
.header{
    height: var( --header-height);
    background: linear-gradient(-180deg,#f53d2d,#f63);
}
.header__icon-link{
    color:var(--white-color);
    text-decoration: none;
}
.sort-bar{
    position: fixed;
    top:var(--header-height);
    background-color: #fff;
    width:100%;
    height:var(--header-sort-bar);
    margin: 0 ;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    z-index: 10;
    display : none;

}
.sort-bar-item--active .sort-bar-link{
    color: var(--primary-color);
}
.sort-bar-item{
    list-style:none;
    flex:1 ;
}
.sort-bar-link::before{
    position: absolute;
    content: "" ; 
    height: 60%;
    transform: translateY(-50%);
    top: 50%; 
    left: 0 ;
    border-left: 1px solid #e5e5e5;
    
}
.sort-bar-link{
    text-decoration: none;
    color : var(--text-color);
    display: block;
    font-size: 1.4rem;
    height:100%;
    line-height: var(--header-sort-bar);
    text-align: center;
    position: relative;

}

.navbar{
    display: flex;
    justify-content: space-between;
    height:var(--navbar-height);
}
.navbar-list{
    list-style: none;
    display:flex;
    padding-left:0;
    margin-top: .4rem;
    
}
.navbar-item{
    margin:0 0.9rem;
    position: relative;
    min-height: 2.6rem;
}
.navbar-item,
.navbar-item-link{
    font-size: 1.4rem;
    text-decoration: none;
    color:var(--white-color);
    font-weight: 300;
}
.navbar-item > li:hover,
.navbar-item-link:hover
{
    opacity: 0.6;
    cursor: pointer;
}
.navbar-item--bold{
    font-weight: 500!important;
}
.navbar-item--separate::after{
    position: absolute;
    content: " ";
    height: 1.2rem;
    border-left: 1px solid rgb(161, 160, 160);
    top: 50%;
    right:-.8rem;
    transform: translateY(-50%);
    display: flex;

}

.header__icon{
    font-size: 1.8rem;
    margin-left :  0.8rem;
}
.navbar-item,
.navbar-item-link,.header__icon{
    display:inline-flex;
    align-items: center;
}
.navbar-title--no-pointer{
    cursor: default;
    color:var(--white-color);
}
.no-hover:hover{
    opacity: 1!important;   
}
.navbar-item  a:hover{
    opacity: 0.6;
}
.qrcode{
    background: var(--white-color);
    width: 18.6rem;
    position: absolute; 
    top:130%;
    left:0;
    padding: .4rem;
    border-radius: 0.2rem;
    display: none;
    animation: fadeIn linear .2s;
    opacity: 1!important;
    z-index: 10;

}
.qrcode::before{
    content: "";
    position: absolute;
    left: 0;
    top:-2rem;
    width: 100%;
    height: 3rem;
    display: block;
}

.qrcode .qrcode__img{
    width:100%;
}
.app{
    margin-top: 1rem;
    display:flex;
    justify-content:space-between;
}
.app .qrcode__img-download{
    height: 4rem;
}
.navbar-item--has-qr:hover .qrcode{
    display: block;
}

.navbar-user {
    display:flex;
    justify-items: center;
    position: relative;
}
.navbar-user .navbar-user-img , .navbar-user .navbar-user-name
{
    display:block;
}
.navbar-user-img{
    width: 22px;
    border-radius: 50%;
    display:none;
    
}
.navbar-user-name{
    font-size: 1.4rem;
    margin-left: 2px;
    font-weight: 400;
    color:var(--white-color);
    display:none;
}
.navbar-user-menu{
    position:absolute;
    background-color:var(--white-color);
    top:110%;
    padding-left: 0;
    right:0;
    width:200px;
    z-index: 10;
    display:none;
    animation:fadeIn ease-in .2s;
}
.navbar-user-menu::after{
    position: absolute;
    top: -30px;
    content: "";
    left: 50%;
    border: 20px solid;
    border-color: transparent transparent var(--white-color) transparent;
}
.navbar-user-menu::before{
    position: absolute;
    top: -20px;
    content: "";
    right: 0 ;
    width:200px;
    height: 20px;

}
.navbar-user-info{
    list-style: none;
    padding: 8px ;
    
}
.navbar-user-info--separate{
    border-top: 0.5px solid rgb(226, 226, 226);
}
.navbar-user-info a {
  text-decoration: none;
  color:var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
      margin-left: 16px;
}
.navbar-user:hover .navbar-user-menu{
    display: block;
}
.navbar__notify{
    background-color: var(--white-color);
    position: absolute;
    top:130%;
    right: 0;
    width: 40.4rem;
    border:1px solid #d3d3d3;
    opacity: 1!important;
    transform-origin: 90% top ;
    will-change: opacity , transform ;
    animation: navbarNotifyGrowth ease-in .25s;
    display:none;
    z-index: 10;
}

@keyframes navbarNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.navbar__notify-header{
    background-color:var(--white-color);
    cursor: default!important;
}
.navbar__notify-header h3{
    color:#999;
    margin:0 0 0 12px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 4rem;
}
.navbar__notify-list{
    padding-left: 0;
    
    
}
.navbar__notify-item{
    display:flex;
    align-items: center; 
    margin-top: 8px;

}
.navbar__notify-link{
    display: flex;
    padding:12px;
    text-decoration: none;
    width:100%;
    

}
.navbar__notify-item:hover{
    background-color: rgba(235,75,33,0.2);
}
.navbar__notify-img{

    width: 56px;
    object-fit: contain;
    display: block;
    padding:2px 4px;
}
.navbar__notify-body{
    flex:1;
    margin-left: 12px;
}   
.navbar__notify-name{
    display:block;
    font-size:1.4rem;
    color:var(--black-color);
    font-weight:500;
}
.navbar__notify-desc{
    display:block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color:var(--text-color);
}
.navbar__notify-footer{
    display:flex;
   
}
.navbar__notify-footer-btn{
    padding: 16px;
    text-decoration: none;
    color: var(--black-color);
    margin:auto;
    font-weight: 500;
}

.navbar-item--has-notify:hover .navbar__notify{
    display: block;
}
.navbar__notify::before{
    content: "";
    top:-7%;
    position: absolute;
    right: 6%;
    border:20px solid;
    border-color: transparent transparent  var(--white-color) transparent
}
.navbar__notify::after{
    content: "";
    position: absolute;
    width: 100%;
    right: 0;
    top: -16px;
    height:40px;
}
.auth{
    width: 500px;
    background-color: #fff;
    border-radius: 2px;
    
}
.auth-form-container{
    padding : 0 32px;
}
.auth-header{
    display: flex;
    justify-content: space-between;
    padding:12px 12px 0;
    align-items: center;
}
.auth-heading{
    font-size: 2.2rem;
    font-weight: 400;
    color:var(--text-color);
    
}
.btn-switch{
    font-size: 1.6rem;
    font-weight: 500;
    color:var(--primary-color);
    cursor: pointer;
}
.auth-form{
    display: flex;
    flex-direction: column;
    
}
.auth-form-group
{
    margin-top: 16px;
    font-size: 1.4rem;
}
.auth-form-input{
    width:100%;
    padding: 8px;
    outline:none;
    border:1px solid #ccc;
    border-radius: 2px;
}
.auth-form-input:focus {
    border-color :#777;
}
.auth-policy{
    margin-top: 8px;
    font-size : 1.2rem;
    text-align: center;
    padding : 0 12px;
}
.auth-policy-link {
    text-decoration: none;
    color:var(--primary-color);
}
.auth-controls{
    margin-top: 74px;
    display: flex;
    justify-content: flex-end;
}

.btn + .btn{
    margin-left: 8px;
}

.socials{
    margin-top: 24px;
    background-color: rgb(212, 208, 208);
    padding: 12px 0;
    display: flex;
    justify-content:center;
}
.socials a{
    text-decoration: none;
    font-size: 1.3rem;
}
.socials i{
    margin-right: 8px;
}
.auth-form-aside{
    margin-top: 16px;
    display: flex;
    justify-content:flex-end;
}
.auth-form-help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}
.auth-form-help-link:hover{
    opacity: 0.6;
}
.auth-form-help-link:first-child{
    color:var(--primary-color);
}
.auth-form-help-link + .auth-form-help-link{
    margin-left: 24px;
}
.with-search{
    height:var( --with-search-height);
    display: flex;
    align-items: center;
}
.mobile-search{
    height:var(--with-search-height);
    width: var(--with-search-height);
    text-align: center;
    display: none;

}
.with-search .mobile-search-icon{
    font-size: 2rem;
    color : #fff;
    line-height:var(--with-search-height) ;
}
.logo{
    width:200px;
    margin: 0 8px;
}
.logo-img{
    width: 162px;
}
.logo-link {
    display: block;
    line-height: 0;
}
.all-search{
    flex:1;
    display:flex;
    flex-direction: column;
    margin-top: 8px;
}
.search{
    height:40px;
    background-color: #fff;
    border-radius: 2px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.suggest-search{
    display: flex;
    height:30px;
}
.suggest-search-list{
    list-style:none;
    display: flex;
    justify-content: space-around;
    padding-left: 0;
}
.suggest-search-list a{
    text-decoration: none;
}
.suggest-search-item{
    color: var(--white-color);
    padding-right: 16px;
    font-size:1.1rem;
    cursor:pointer;
}
.search-wrap{
    flex:1;
    height:100%;
    position: relative;
}
.search-history{
    position: absolute;
    top:110%;
    background-color: var(--white-color);
    border-radius: 3px;
    width: calc(100% - 16px);
    box-shadow: 0 1px 3px #d7d3d3;
    display:none;
    z-index: 10;
}
.history-heading{
    margin : 6px 12px;
    font-weight: 300;
    color: #aca8a8;

    cursor:default;
}
.history-list{
    list-style:none;
    padding-left: 0;
    margin:0;
   
}
.history-list a{
    text-decoration: none;
    font-size: 1.4rem;
    color:var(--text-color);
    line-height:38px;
   
}
.history-item{
    height:38px;
    padding : 0px 12px;
    
}
.history-item:hover{
    background-color: #fafafa;
}
.search-input{
  
    height:100%;
    border: none;
    outline:none;
    font-size:1.6rem;
    padding: 0 16px;
    border-radius: 2px;
    width:100%;
}
.search-input:focus ~ .search-history{
    display:block;
}
.search-select {
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;

}
.search-select .icon-select{
    font-size:1.4rem;
    color: #4a4a4a;
    margin:0 16px 0 8px;
    position: relative;
    top:2px;
    color: rgb(8, 134, 35);

}
.search-select span {
    font-size: 1.2rem;
}
.search-select:hover .search-option-list{
    display:block;
}

.search-option-list{
    list-style-type: none;
    flex-direction: column;
    position:absolute;
    right: 0 ;
    top:130%;
    width:120px;
    box-shadow: 0 1px 2px rgb(213 208 208);
    padding-left: 0; 
    border-radius: 3px;
    animation:fadeIn ease-in .2s;
    display: none;
    z-index:10;

}
.search-option-list:after {
    content: "";
    position: absolute;
    height: 100px;
    top:-20%;
    right: 0;
    width: 120px;
   
}
.search-option-item{
    background-color: var(--white-color);
    padding: 8px 2px 8px 24px;

}
.search-option-item span{
    font-size: 1.2rem;
    margin-right: 8px;
}
.search-option-item i {
    color :var(--primary-color);
    display: none;
}
.search-option-item:first-child{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.search-option-item:nth-child(2){
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.search-option-item.active i{
    display:inline-block;
}
.search-btn{
    width: 60px;
    height: 34px;
    background-color: var(--primary-color);
    text-align: center;
    border:none;
    border-radius: 2px;
    margin-right: 2px;

}
.icon-search{
    color :var(--white-color);
    font-size: 1.4rem;
    font-weight: 300;

}
.cart{
    width:150px;
    display:flex;
    justify-content:center;
    align-items: center;
    
}
.cart-wrap{
  position: relative;
  height:50px;
  width:50px;
  margin-top: 16px;
}
.cart i{
    color:var(--white-color);
    font-size: 2.6rem;
    cursor: pointer;
}
.cart-wrap:hover .cart-list{
    display:flex;
    flex-direction: column;
}
.cart-list{
    position: absolute;
    top: 100%;
    background-color: #fff;
    right: 10px;
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgb(213 208 208);
    display:none;
    z-index: 10;

}

.cart-list:after{
    content: "";
    position: absolute;
    top: -28px;
    right: 7px;
    border: 16px solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: default;
}
.cart-list::before{
    content: "";
    position: absolute;
    height:20px;
    width:100%;
    right:0;
    top:-10%;
}
.cart-list--no-cart{
    padding: 12px 0;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
}
.cart-list--no-cart .no-cart-img ,
.cart-list--no-cart .no-cart-msg{
    display: block;
}
 .no-cart-img{
    width: 60%;
    display: none;
}
 .no-cart-msg{
    display: none;
    font-size :1.2rem;
    margin-top: 8px;
    font-weight: 500;
    color:var(--text-color);
}
.cart-qty{
    position: absolute;
    background-color: var(--white-color);
    font-size: 1.4rem;
    color: var(--primary-color);
    padding: 2px 6px;
    border-radius: 50%;
    top: -9px;
    right: 5px;
    box-shadow: 0 1px 2px rgb(213 208 208);
}
.cart-heading {
    margin :12px;
    font-weight: 300;
    color: #aca8a8;
    cursor:default;
    font-size: 1.4rem;
}
.cart-list-product{
    display:flex;
    padding-left: 0;
    flex-direction: column;
    max-height:50vh;
    overflow-y: auto;
}
.cart-list-product-item{
    display:flex;
    width:100%;
    cursor: pointer;
    

}
.cart-list-product-item:hover{
    opacity: 0.6;
}
.cart-product-img{
    width:80px;
    object-fit: contain;
    padding: 2px 4px;
}

.cart-product-info{
    display:flex;
    flex-direction: column;
    flex:3;
    font-size: 1.2rem;
    margin: 0 8px;

}
.cart-product-head{
    display:flex;
    flex-direction: row;
    align-items: center;
    font-weight:500;
    flex:1;

}
.cart-product-name{
    font-weight: 600;
    flex: 1;
    font-size: 1.4rem;
    line-height: 2rem;
    max-height:4rem;
    overflow:hidden;
    padding-right: 8px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.cart-product-price{
    color:var(--primary-color);
    font-size: 1.6rem;
    margin-left: auto;
}
.cart-product-multiply{
    font-size: 0.8rem;
    color:var(--primary-color);
    margin-left: 4px;
    margin-top: 2px;

}
.cart-product-qty{
    margin-left: 4px;
    font-size: 1.6rem;

    color:var(--primary-color);

}
.cart-product-body{
    flex:1;
    display:flex;
    align-items: center;
    justify-content:space-between;
}
.cart-product-desc{
    color:#888888;
}
.cart-product-remove{
    color:var(--primary-color);
    cursor: pointer;

}
.cart-list-footer{
    display: flex;
    justify-content:flex-end;
    margin: 16px;
}
.container{
    background-color: #f5f5f5;
}
.category{
    padding-top: 4px;
    background-color: var(--white-color);
    border-radius: 2px;
}
.category-heading{
    font-size:1.6rem;
    color:var(--text-color);
    padding: 8px 16px;
    margin-top: 0;
    border-bottom: 1px solid rgb(180 180 180 / 50%);
}
.category-heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
}
.category-list{
    list-style: none;
    padding-left: 0;
    padding-bottom: 8px;
    margin-left: 10px;
}
.category-item{
    margin-left: 14px;
}
.category-item.active .category-link{
    color:var(--primary-color);
    
}
.category-item.active .category-link:before{
    position: absolute;
    border:4px solid;
    content: "";
    border-color:transparent transparent transparent var(--primary-color);
    top:50%;
    left:-2px;
    transform:translateY(-50% );
}
.category-link{
    text-decoration: none;
    color:var(--text-color);
    font-size: 1.5rem;
    display:block;
    padding: 6px;
    position: relative;
    right:0;
    transition: right linear .1s;
}
.category-link:hover{
    right:-4px;
    color:var(--primary-color);
}
.select-input-list:after{
    content:"";
    position:absolute;
    list-style: none;
    top:-4px;
    left:0;
    height:4px;
    width:100%;
    
}
.home-filter{
    background-color: rgba(0,0,0,0.1);
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}
.home-filter-label{
    color:#555555;
    font-size:1.5rem;
    margin-right: 16px;
}
.home-filter-btn{
    margin-right: 12px;
}
.home-filter-paginate{
    margin-left: auto;
    display: flex;
    align-items: center;
 
}
.home-filter-page-num{
    color:var(--text-color);
    font-size:1.4rem;
    margin-right: 22px;
}
.home-filter-page-curent{
    color:var(--primary-color);
}
.home-filter-page-controls{
    border-radius: 2px;
    overflow: hidden;
    display:flex;
    width: 72px;
    height:36px;
}
.home-filter-page-controls i{
    color:var(--primary-color);
}
.home-filter-page-btn
{
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.home-filter-page-controls a{
    text-decoration: none;
}
.home-filter-page-btn--disable{
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter-page-icon{
    color:var(--primary-color);
}
.home-filter-page-btn--disable .home-filter-page-icon{
    color:#ccc;
}

/* product item */
a.home-product-item{
    display:block;
    text-decoration: none;
}
.home-product-item{
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    border:1px solid #e7e7e7;
    box-shadow: 0 1px 2px 0 rgba(0,0,0 ,0.1);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-bottom: 8px;
    transition: transform linear .1s;
    will-change: transform;
}
.home-product-item:hover{
    box-shadow: 0 1px 20px 0 rgba(0,0,0 ,0.05);
    transform :translateY(-1px);
}
.home-product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color:var(--text-color);
    line-height: 1.8rem;
    margin:10px 10px 6px;
    height:3.6rem;
    overflow:hidden;
    display:block;
    display:-webkit-box;
    -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;


}
.home-product-item__price{
    display: flex;
    margin-left: 10px;
    flex-wrap: wrap;

}
.home-product-item__price-old{
    color:#666;
    font-size: 1.4rem;
    text-decoration: line-through;
    margin-left: 10px;
}
.home-product-item__price-current{
    color:var(--primary-color);
    font-size: 1.6rem;
    margin-left: 10px;

}  
.home-product-item__action{
    display:flex;
    justify-content: space-between;
    padding:4px 10px;
}
.home-product-item__action-heart{
    font-size: 1.3rem;
}

i.home-product-item__action-heart--hearted-no{
    display:inline-block;
}
i.home-product-item__action-heart--hearted-yes{
    color:red;
    display: none ;
}
.home-product-item__action-heart--hearted i.home-product-item__action-heart--hearted-yes{
    display:inline-block;
}
.home-product-item__action-heart--hearted i.home-product-item__action-heart--hearted-no{
    display:none
}
.home-product-item__rating{
    font-size: 1rem;
    color:#d5d5d5;
    margin-left: auto;
}
.star-gold{
    color:rgb(228, 228, 26);
}

.home-product-item__sold{
    color:var(--text-color);
    font-size: 1.2rem;
    margin-left: 2px;
    display: none;

}
.sold .home-product-item__sold{
    display:block;
}
.home-product-item__origin{
    display: flex;
    justify-content: space-between;
    padding: 4px 10px;
    color:#595959;
    font-size :1.2em;
    font-weight: 300;
}

.home-product-item__farvorite{
    position: absolute;
    top:10px;
    left:-6px;
    background-color: var(--primary-color);
    color:var(--white-color);
    font-size:1.2rem;
    font-weight: 500;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
   

}
.home-product-item__farvorite:after{
    position: absolute;
    content:"";
    border-top:6px solid var(--primary-color);
    border-left: 6px solid transparent;
    left:0px;
    top:16px;
    filter:brightness(70%);
   
}
.home-product-item__farvorite i{
    font-size:0.9rem;
    margin: 0 2px 0 4px;
}

.home-product-item__sale{
    position:absolute;
    flex-direction: column;
    background-color:rgba(255, 216, 64, 1);
    top:0;
    right:0;
    font-weight: 500;
    text-align: center;
    width:40px;
    height:36px;
    padding-top: 4px;
}
.home-product-item__sale:after{
    position:absolute;
    content: "";
    top:100%;
    right: 0;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 1) transparent rgba(255, 216, 64, 1);

}
.home-product-item__sale-label{
    margin-top: 8px;
    color:var(--white-color);
    font-size: 1.2rem;
}
.home-product-item__sale-percent-off{
    color:var(--primary-color);
    font-size: 1.4rem;
    font-weight: 700;
}
/* pagination 
 */
.home-product__pagination{
    margin-top: 48px;
    margin-bottom: 32px;
    padding-left: 0;
}

/* footer  */
.footer-item .qrcode{
    display: flex;
    width: 9.6rem;
}
.footer-item .app{
    display: flex;
    flex-direction: column;
    margin-top: 0;
}
.search-checkbox:checked ~ .all-search{
    display:flex;
}
